*{
    padding:0px;
    margin:0px;
}


a{
    text-decoration:none;
    font-weight:bold;
}
#cabecalho a:link,#cabecalho a:visited{
    color:#FFF;
    padding: 8px 12px;
}

#cabecalho a:hover{  
    color:#f7b600;
    background-color:#FFF;
    text-decoration: none;
}
a:link,a:visited{
    color:#f7b600;
}

a:hover{  
    color:#f7b600;
    background-color:#FFF;
    text-decoration:underline;
}

body{
    background-color: #e6e6e6;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h1{
    color: #4e4e4e;
    font-size:2.5em;
}

h2{
    color: #f7b600;
}

h3{
    background-color: #CCC;
    color: #565656;
    text-align: center;
    padding: 5px;
}

hr{
    clear:both;
}

#cabecalho{
    background-color: #f7b600;
    padding:15px;
    text-align:center;
}

#logo{
    padding:10px;
}

#menu{
    padding:10px;
}

#principal{
    background: #FFF;
    width: 920px;
    margin: 0 auto;
    padding:15px;
}



#area-postagens{
    width: 660px;
    float:left;

}

#area-lateral{
    width: 240px;
    float:right;
}

#rodape{
    clear:both;
    background-color: #CCC;
    padding:15px;
    text-align:center;
    font-weight: bolder;
}

.postagem{
    background-color:#FFF;
    padding:20px;
    margin-bottom: 20px;

}

.data-postagem{
    font-size:0.8em;
    font-weight: bolder;
    font-style: italic;
    padding:5px;
    margin:5px;

}

.conteudo-lateral{
    background-color: #FFF;
    padding:10px;
    margin-bottom:10px;
}

.postagem-lateral{
    font-size: 0.8em;;
    padding:5px 5px 0px 5px;
    border-bottom: 2px #CCC solid;
}

.titulo{
    color: white;
}